.app {
  height: 100vh;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 1.7fr 10fr;
  row-gap: 25px;

  grid-template-areas:
    "header header"
    "sidebar content";

  max-width: ($box_width + px);
  margin: 0 auto;
}







@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}